<!-- Footer -->
<footer class="wrapper style1 align-center invert">
    <div class="inner">
        <ul class="icons">
            {{ with .Site.Params.social.mixcloud }}<li><a target="_blank" href="{{.}}" class="icon brands style2 fa-mixcloud"><span class="label">Github</span></a></li>{{end}}
            {{ with .Site.Params.social.soundcloud }}<li><a target="_blank" href="{{.}}" class="icon brands style2 fa-soundcloud"><span class="label">Twitter</span></a></li>{{end}}
            {{ with .Site.Params.social.instagram }}<li><a target="_blank" href="{{.}}" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>{{end}}
            {{ with .Site.Params.social.spotify }}<li><a target="_blank" href="{{.}}" class="icon brands style2 fa-spotify"><span class="label">LinkedIn</span></a></li>{{end}}
            {{ with .Site.Params.social.email }}<li><a target="_blank" href="mailto:{{.}}" class="fav icon style2 fa-envelope"><span class="label">Email</span></a></li>{{end}}
        </ul>
</div>

<!-- SoundCloud Embed -->
<iframe width="100%" height="400" scrolling="no" frameborder="no" allow="autoplay"
    src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1222503166&&color=%238a4d35&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=true&visual=true">
</iframe>

</footer>
<!-- FontAwesome JS -->
{{ range .Site.Params.asset.fontawesome_js -}}
    <script type="text/javascript" src="{{ . | absURL }}"></script>
{{- end }}